* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #363062;
}

.greeting {
    height: 90px;
    display: flex;
    align-items: center;
}

h1 {
    margin-bottom: 15px;
    font-size: 50px;
    font-style: italic;
    color: #F5F5F5;
    text-shadow: 5px 5px #4D4C7D;
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.game_content {
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
}

.game_name {
    font-size: 45px;
    color: #FD841F;
    text-shadow: 2px 2px #E14D2A;
}

.score {
    width: 100px;
    text-align: center;
    font-size: 24px;
    background-color: #4D4C7D;
    border-radius: 10px;
    text-transform: uppercase;
}

.score p {
    color: #F99417;
}

.score_number {
    color: #E14D2A;
    font-weight: 900;
}

.game_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 15vmin);
    grid-template-rows: repeat(4, 15vmin);
    gap: 2vmin;
    border-radius: 1vmin;
}

.game_box {
    border-radius: 1vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 50px;
}

.color_basic {
    background-color: #4D4C7D;
}

.box_2 {
    background-color: #FFCD4B;
    color: #141E46;
}

.box_4 {
    background-color: #FD841F;
    color: #141E46;
}

.box_8 {
    background-color: #FF7676;
    color: #141E46;
}

.box_16 {
    background-color: #FF4B91;
    color: #141E46;
}

.box_32 {
    background-color: #E14D2A;
    color: #141E46;
}

.box_64 {
    background-color: #FF6969;
    color: #141E46;
}

.box_128 {
    background-color: #BB2525;
    color: #F5F5F5;
}

.box_256 {
    background-color: #A73121;
    color: #F5F5F5;
}

.box_512 {
    background-color: #952323;
    color: #F5F5F5;
}

.box_1024 {
    background-color: #662549;
    color: #F5F5F5;
}

.box_2048 {
    background-color: #451952;
    color: #F5F5F5;
}

.box_4096 {
    background-color: #3D0C11;
    color: #F5F5F5;
}

.box_8192 {
    background-color: #1B090B;
    color: #F5F5F5;
}

.footer {
    max-width: 745px;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img_school {
    height: 50px;
    fill: #F5F5F5;
}

.img_git {
    height: 60px;
}

.year {
    font-size: 30px;
    color: #F5F5F5;
}

/*GAME OVER*/

.overlay {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
    background-color: rgba(41, 41, 41, 0.6);
    transition: opacity .5s;
}

.overlay_add {
    opacity: 1;
    z-index: 2;
    transition: all .5s;
}

.game-over {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 260px;
    height: 250px;
    padding: 20px 25px;
    background-color: #F9DEC9;
    z-index: -1;
    opacity: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s;
    border-radius: 1vmin;
}

.lost_text {
    font-size: 40px;
    color: #c30000;
    font-weight: 900;
}

.result {
    font-size: 25px;
}

.game-over_text {
    font-size: 35px;
    color: #3D0C11;
}

.result_number,
.winner_number {
    color: #FD841F;
    font-weight: 900;
    text-shadow: 1px 1px #E14D2A;
}

.game-over_visible {
    opacity: 1;
    z-index: 2;
    transition: all .3s;
}

.game-over_btn {
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #3D0C11;
    color: #F9DEC9;
    font-size: 15px;
    transition: all .3s;
}

/*WINNER*/

.winner {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 430px;
    height: 300px;
    padding: 20px 25px;
    background-color: #FFF;
    z-index: -1;
    opacity: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s;
    border-radius: 1vmin;
}

.winner_add {
    z-index: 2;
    opacity: 1;
    transition: all .3s;
}

.btns_wrapper {
    display: flex;
    gap: 15px;
}

.btn {
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #3D0C11;
    color: #FFF;
    font-size: 15px;
    transition: all .3s;
}

.winner_text {
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    color: #DC4665;
}

.winner_result,
.ask {
    color: #3D0C11;
    font-size: 25px;
}

.wrapper_text {
    display: flex;
    align-items: center;
    gap: 15px;
}

.winner_img {
    width: 140px;
}

/*RATING TABLE*/

.rating-table,
.help {
    position: fixed;
    width: 300px;
    height: auto;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9DEC9;
    border-radius: 1vmin;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: all .3s;
}

.rating-table_visible,
.help_visible {
    z-index: 2;
    opacity: 1;
    transition: all .3s;
}

th,
td {
    width: 200px;
    height: 35px;
    border: 1px solid #E14D2A;
    text-align: center;
    color: #001253;
    font-size: 22px;
    border-radius: 1vmin;
}

th {
    color: #5B1018;
    font-style: italic;
    font-weight: bold;
}

.rating {
    display: flex;
    gap: 15px;
    align-items: center;
}

.close {
    background-color: transparent;
    border: none;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
    transition: all .3s;
}

.close_img {
    width: 100%;
}

.button {
    height: 35px;
    background-color: transparent;
    border: none;
    transition: all .3s;
}

.ask-play_img,
.rating_img {
    width: 30px;
}

.volume {
    height: 35px;
    width: 30px;
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    background-size: 30px;
}

.volume_visible {
    background-image: url('./assets/volume-max-svgrepo.svg');
}

.volume_none {
    background-image: url('./assets/volume-xmark-svgrepo.svg');
}

/*HELP MODAL WINDOW*/

.arrow_img {
    width: 30px;
}

.how_play,
.how_view {
    margin-bottom: 10px;
    font-size: 25px;
    text-align: center;
    color: #952323;
}

.arrow_wrapper {
    display: flex;
    justify-content: center;
}

.img_wrapper {
    display: flex;
    flex-direction: column;
}

@media (any-hover: hover) {
    .game-over_btn:hover,
    .btn:hover {
        cursor: pointer;
        background-color: #5B1018;
        font-size: 18px;
        transition: all .3s;
    }

    .button:hover {
        cursor: pointer;
        scale: 1.2;
        transition: all .3s;
    }

    .close:hover {
        cursor: pointer;
        scale: 1.1;
        transition: all .3s;
    }
}

@media screen and (max-width: 860px) {
    .game_box {
        font-size: 40px;
    }

    .year {
        font-size: 20px;
    }
}

@media screen and (max-width: 650px) {
    .game_box {
        font-size: 35px;
    }
}

@media screen and (max-width: 540px) {
    .game_box {
        font-size: 30px;
    }

    h1,
    .game_name {
        font-size: 35px;
    }

    .score {
        font-size: 20px;
    }

    .img_school {
        height: 35px;
    }

    .rating {
        gap: 5px;
    }

    .game_content {
        gap: 10px;
    }
}

@media screen and (max-width: 440px) {
    .game_box {
        font-size: 25px;
    }
}

@media screen and (max-width: 360px) {
    .game_box {
        font-size: 20px;
    }
}